@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-handwriting {
  font-family: 'Architects Daughter', cursive;
}


.bg-lined-paper {
  background-image: url('/papper.jpeg');
  background-size: cover; /* Makes the background image cover the entire area */
  background-position: center center; /* Ensures the image stays centered */
  background-repeat: no-repeat;
  width: 100%; /* Full width for larger devices */
  height: auto; /* Automatic height to maintain aspect ratio */
  min-height: 100vh;
}

@media (max-width: 300px) { /* Apply styles for small devices */
  .bg-lined-paper {
    background-size: auto; /* Make the width auto on small devices */
    width: auto; /* Width becomes auto on smaller screens */
    height: auto; /* Let height adjust accordingly */
  }
}
.game-board {
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

@media (max-width: 640px) {
  .game-board {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}

@media (max-width: 768px) {
  .game-board {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }
}
